

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  /* Provide sufficient contrast against white background */
  a {
    color: #0366d6;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }
  

  html {
    position: relative;
    min-height: 100%;
  }
  
  body {

    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
  }
  
  .search-background{
      background: url('images/back.png');
  }
  
  .backgroundWhite {
      background-color: white;
      padding: 30px;
      border-radius: 10px;
      margin-bottom: 30px;
  }
  
  .backgroundWhiteBorder {
      background-color: white;
      padding: 30px;
      border-radius: 10px;
      margin-bottom: 30px;
      border-radius:2px solid #ddd;
  }
  
 

  .carousel-item> img{
    width: 100%;
    height: auto;

  }

  .error{
    color: red;
  }

  .amigologoimg > img{
    width: 100%;
    height: 500px;
  }
  h1{
    font-family: 'Fredericka the Great', cursive;


  }

  h5{
    
font-family: 'Reggae One', cursive;
color: maroon;
  }

